:root {
    --text-dark: #201005;
    --text-light: #4e4e4e;
    --inactive: #a19e90;
    --active: #3366a1;
    --light-bg: #e0e0e0;
    --bg: #ebe9dd;
    --dark-bg: #291f11;

    --light-text: #e5e1ba;

    --code-bg: #fdf6e2;

    --pastel-blue: #a1dbdb;
    --pastel-green: #b5ead7;
    --pastel-red: #ff9aa2;
    --pastel-brown: #beb091;

    --syntax-1: #851d1d;
    --syntax-2: #1d7012;
    --syntax-3: #222a9e;

    --love-color: #f02121;

    --font-stack: "Crimson", Georgia, "Times New Roman", Times, serif;

    --max-width: 800px;
}

@font-face {
    font-family: "Crimson";
    src: url("../fonts/CrimsonText-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Crimson";
    src: url("../fonts/CrimsonText-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Crimson";
    src: url("../fonts/CrimsonText-Bold.ttf");
    font-weight: 800;
    font-style: normal;
}
html {
    font-size: 18px;
}
body {
    font-family: var(--font-stack);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    color: var(--text-dark);
    overflow-x: hidden;
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}
p.large,
h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}
.heading {
    margin-top: 20px;
}
p {
    font-size: 1rem;
    line-height: 1.5;
}
.body-text {
    margin-bottom: 15px;
}

ul {
    list-style-type: circle;
}
ul li {
    margin-left: 30px;
}
ul li:not(:last-child) {
    margin-bottom: 5px;
}
code {
    white-space: nowrap;
    max-width: 100%;
}

code,
.code {
    border-radius: 5px;
    background-color: var(--code-bg);
    padding: 1px;
    padding-left: 7px;
    padding-right: 7px;
    font-family: monospace;
    font-size: 0.9rem;
    overflow-x: scroll;
}
.code.block {
    line-height: 1.5;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.smooth-shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
        0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
        0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
}

.smooth-shadow-hover:hover {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.037), 0 6.7px 5.3px rgba(0, 0, 0, 0.053),
        0 12.5px 10px rgba(0, 0, 0, 0.065), 0 22.3px 17.9px rgba(0, 0, 0, 0.077),
        0 41.8px 33.4px rgba(0, 0, 0, 0.093), 0 100px 80px rgba(0, 0, 0, 0.13);
}
a {
    color: var(--text-dark);
    margin-bottom: 5px;
}

a.nav-link {
    display: block;
    font-size: 1.25rem;
    margin-bottom: 10px;
}
footer {
    background-color: var(--dark-bg);
    color: var(--light-text);
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
footer a {
    text-decoration: none;
    font-weight: 600;
    color: var(--light-text);
}
footer ul {
    margin-bottom: 10px;
}
button {
    font-size: 1.25rem;
    font-weight: 600;
    font-family: var(--font-stack);
}

button,
.poem-link {
    text-decoration: none;
    display: block;
    transition: all 250ms ease-in-out;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid var(--inactive);
    border-radius: 10px;
    background-color: transparent;
}
.poem-link p {
    line-height: 1.2;
}

.poem-link.next {
    text-align: right;
}
button:hover,
.poem-link:hover {
    border-color: var(--active);
    cursor: pointer;
}

button:hover {
    background-color: var(--active);
    color: var(--bg);
}
.poem-title {
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.poem-page-title {
    margin-bottom: 3px;
}

.poem-date {
    color: var(--text-light);
    margin-bottom: 5px;
}
.category-container {
    display: flex;
    flex-direction: row;
}
.poem-category {
    background-color: var(--light-bg);
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
.poem-category:not(:last-child) {
    margin-right: 5px;
}

div.poem-navigators {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.section {
    margin: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

div.container {
    width: 95%;
    max-width: var(--max-width);
    padding: 15px;
}

div.poem {
    line-height: 1.25;
    font-size: 1.125rem;
    margin: 15px;
    margin-top: 20px;
}

hr.decorative {
    margin-top: 20px;
    margin-bottom: 10px;
    border: none;
    border-top: 4px double #000000;
    text-align: center;
}
hr.decorative:after {
    content: "❦";
    display: inline-block;
    position: relative;
    top: -12px;
    padding: 0 10px;
    background: var(--bg);
    color: #000000;
    font-size: 20px;
}

img.square-image {
    max-width: 400px;
    width: 90%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
/* category highlighting */
*[data-category="Nature"] {
    background-color: var(--pastel-green);
}
*[data-category="Ocean"] {
    background-color: var(--pastel-blue);
}
*[data-category="Life"] {
    background-color: var(--pastel-red);
}
*[data-category="Coffee"] {
    background-color: var(--pastel-brown);
}

/* syntax highlighting */
span.token-attr {
    color: var(--syntax-1);
}
span.token-string {
    color: var(--syntax-2);
}
span.token-number {
    color: var(--syntax-3);
}

.heart {
    background-color: var(--light-text);
    display: inline-block;
    height: 10px;
    margin: 0 5px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 10px;
}

.heart:before,
.heart:after {
    content: "";
    background-color: var(--light-text);
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.heart:before {
    top: -6px;
    left: 0;
}

.heart:after {
    left: 6px;
    top: 0;
}
